version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/frontend"
      schedule:
          interval: "weekly"

    - package-ecosystem: "pip"
      directory: "/"
      schedule:
          interval: "weekly"

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
registries:
    npm-github:
        type: npm-registry
        url: https://npm.pkg.github.com
        token: ${{ secrets.GPR_TOKEN }}
        replaces-base: true
