BANK_ACTIVE=False
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
DEBUG=True
ENVIRONMENT=localhost
DJANGO_SETTINGS_MODULE=up.settings.production
MANUAL_PRODUCTION=True
SECRET_KEY=some_secret
DEPLOYED=True

# OPTIONAL SECRETS
FIO_API_KEY=
SENTRY_DSN=

# CI
GPR_TOKEN=
CODECOV_TOKEN=

# TESTS
TESTS_HEADLESS=True
TESTS_BROWSER=firefox
