[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "~=5.2.9"
django-csp = "~=3.8.0"
django-debug-toolbar = "~=6.1.0"
django-environ = "~=0.12.0"
django-filter = "~=25.2.0"
djangorestframework = "~=3.16.1"
djangorestframework-simplejwt = "~=5.5.1"
gunicorn = "~=23.0.0"
"psycopg2-binary" = "~=2.9.10"
pyyaml = "~=6.0.3"
requests = "~=2.32.5"
sentry-sdk = {extras = ["django"], version = "~=2.48.0"}
setuptools = "*"
uritemplate = "~=4.2.0"
vulture = "~=2.14.0"
whitenoise = "~=6.11.0"

[dev-packages]
behave-django = "~=1.9.0"
black = "~=25.12.0"
coverage = "~=6.3.3"
django-stubs = "~=5.2.8"
djangorestframework-stubs = "~=3.16.6"
mypy = "~=1.19.1"
selenium = "~=4.39.0"
types-requests = "~=2.28.11.8"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
