[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "~=5.1.5"
django-csp = "~=3.8.0"
django-debug-toolbar = "~=4.4.6"
django-environ = "~=0.12.0"
django-filter = "~=24.3.0"
djangorestframework = "~=3.15.2"
djangorestframework-simplejwt = "~=5.4.0"
gunicorn = "~=23.0.0"
"psycopg2-binary" = "~=2.9.10"
pyyaml = "~=6.0.2"
requests = "~=2.32.3"
sentry-sdk = {extras = ["django"], version = "~=2.20.0"}
setuptools = "*"
uritemplate = "~=4.1.1"
urllib3 = "~=1.26.20"
vulture = "~=2.14.0"
whitenoise = "~=6.8.2"

[dev-packages]
behave-django = "~=1.5.0"
black = "~=24.10.0"
coverage = "~=6.3.3"
django-stubs = "~=5.1.2"
djangorestframework-stubs = "~=3.15.2"
mypy = "~=1.14.1"
selenium = "~=3.141.0"
types-requests = "~=2.28.11.8"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
