[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "~=6.1.0"
django-debug-toolbar = "~=7.0.0"
django-environ = "~=0.14.0"
django-filter = "~=26.1.0"
djangorestframework = "~=3.17.2"
djangorestframework-simplejwt = "~=5.5.1"
gunicorn = "~=26.0.0"
"psycopg2-binary" = "~=2.9.12"
requests = "~=2.34.2"
sentry-sdk = {extras = ["django"], version = "~=2.66.1"}
setuptools = "*"
uritemplate = "~=4.2.0"
whitenoise = "~=6.12.0"
drf-spectacular = "~=0.30.0"

[dev-packages]
vulture = "~=2.16.0"
behave-django = "~=2.0.0"
black = "~=26.5.1"
coverage = "~=7.15.4"
django-stubs = "~=6.0.8"
djangorestframework-stubs = "~=3.17.1"
mypy = "~=2.3.0"
selenium = "~=4.46.0"
types-requests = "~=2.33.0.20260712"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
