certifi==2018.8.24
chardet==3.0.4
coverage==4.5.1
Django==2.1
django-environ==0.4.5
django-filter==2.0.0
django-webpack-loader==0.6.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
gunicorn==19.9.0
idna==2.7
psycopg2==2.7.5
PyJWT==1.6.4
pytz==2018.5
raven==6.9.0
requests==2.19.1
urllib3==1.23
whitenoise==4.0
