h1 .btn:not(.ActiveSwitcher .btn), h1 .ActiveSwitcher {
    margin-top: 0.3rem
}

h1 .btn, h1 .ActiveSwitcher {
    float: right;
}

h1 .btn + .btn,  h1 .AddButton + .ActiveSwitcher {
    margin-right: 0.3rem
}

.small_button {
    padding: 0 .5rem !important;
}
