.HeadingButtons > * + * {
    margin-left: 0.3rem;
}

@media (max-width: 991.98px) {
    .HeadingButtons > * {
        margin-top: 0.3rem;
    }
}

.small_button {
    padding: 0 0.5rem !important;
}

.btn_icon {
    margin-right: 0.4rem;
}
