.attendances {
    padding: 0;
    vertical-align: top;
}

.attendances li {
    list-style-type: none;
}

.attendances p {
    margin: 0;
}

.attendances .attendanceNumber {
    margin-bottom: 0.3rem;
}

.clientName {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 0.2rem;
}

.attendancesGroup .clientName {
    font-size: 1.15rem;
}
