.Attendances {
    vertical-align: top;
    padding: 0
}

.Attendances li {
    list-style-type: none;
}

.Attendances p {
    margin: 0
}

.Attendances .clientName {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 0.2rem
}

.AttendancesGroup .clientName {
    font-size: 1.15rem;
}

/* styly pro lekce, ktere obsahuji Attendances */
.lecture-canceled h4 {
    text-decoration: line-through
}

.lecture-future {
    background-color: #fff3cd !important
}

.lecture-prepaid {
    background-color: #d4edda !important
}

.lecture-canceled {
    background-color: #f8d7da !important
}
