.Attendances {
    vertical-align: top;
    padding: 0;
}

.Attendances li {
    list-style-type: none;
}

.Attendances p {
    margin: 0;
}

.Attendances .clientName {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 0.2rem;
}

.AttendancesGroup .clientName {
    font-size: 1.15rem;
}

/* styly pro lekce, ktere obsahuji Attendances */
.lecture-future {
    background-color: #fff3cd !important;
}

.lecture-prepaid {
    background-color: #d4edda !important;
}

.lecture-canceled {
    background-color: #f8d7da !important;
}

.lecture {
    padding: 0 0 0.75rem 0 !important;
}

.lecture_dashboardday .lecture_heading {
    color: white;
}

.lecture_dashboardday .LectureNumber {
    background-color: white;
}

.lecture_heading {
    padding: 0 0 0 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1rem;
}

@media (max-width: 575.98px) {
    .lecture_heading {
        flex-wrap: wrap;
    }
}

.lecture_content h5 {
    margin-top: 0.4rem;
}

.lecture .CourseName {
    flex-grow: 1;
    line-height: 0.9;
}

.lecture .LectureNumber {
    margin-right: 0.5rem;
}

.lecture_heading .btn {
    border-radius: 0.25rem 0 0 0.25rem;
}

.lecture_heading h4 {
    display: inline-block;
    margin: 0;
}

.lecture_content {
    padding: 0 1rem 0 1rem;
}

.lecture_free {
    padding-top: 1rem !important;
}

.lecture-canceled h4 span {
    position: relative;
    display: inline-block;
}

.lecture-canceled h4 span::after {
    content: "";
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.lecture-canceled h4 span::after {
    border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}

.lecture-canceled.lecture_dashboardday h4 span::after {
    transform: skewY(10deg);
}
