.attendancePaidButton {
    cursor: pointer;
    position: relative;
    top: 0.06rem;
    transition: color 0.15s ease-in-out;
}

.attendancePaidButton:global(.text-success):hover {
    color: #218838 !important;
}

.attendancePaidButton:global(.text-danger):hover {
    color: #c82333 !important;
}
