.LectureGroup {
    background-color: #e7e7e7 !important;
}

@media (min-width: 576px) {
    .DashboardDay_date h4.celebration_none {
        padding-left: 2.86875rem;
    }
}

.DashboardDay_date {
    padding: 0.75rem !important;
}

.lecture-canceled.lecture_dashboardday h4 span::after {
    transform: skewY(10deg);
}

.lecture_dashboardday .lecture_heading {
    color: white;
}
