.lectureGroup {
    background-color: #e7e7e7 !important;
}

@media (min-width: 576px) {
    .dashboardDayDate h4.celebrationNone {
        padding-left: 2.86875rem;
    }
}

.dashboardDayDate {
    padding: 0.75rem !important;
}

/* Styly pro zrušené lekce v DashboardDay */
.lectureCanceledDashboardday h4 span::after {
    transform: skewY(10deg);
}

.lectureHeading {
    color: white;
}

.courseName {
    flex-grow: 1;
    line-height: 0.9;
}

.lectureNumber {
    background-color: white;
}

.lectureFree {
    padding-top: 1rem !important;
}

.dashboardDayWrapper {
    position: relative;
}
