.heading h1 {
    font-size: 2rem;
    font-weight: 600;
}

.headingButtons > * + * {
    margin-left: 0.3rem;
}

@media (max-width: 991.98px) {
    .headingButtons > * {
        margin-top: 0.3rem;
    }
}
