/* Společné styly pro lekce používané v Card a DashboardDay */

.lecture {
    padding: 0 0 0.75rem;
}

.lectureCanceled {
    background-color: #f8d7da !important;
}

.lectureCanceled h4 span {
    display: inline-block;
    position: relative;
}

.lectureCanceled h4 span::after {
    border-bottom: 2px solid rgb(255 0 0 / 0.6);
    color: #fff;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
}

.lectureHeading {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 0.1rem;
    padding: 0 0 0 1rem;
}

@media (max-width: 575.98px) {
    .lectureHeading {
        flex-wrap: wrap;
    }
}

.lectureHeading h4 {
    display: inline-block;
    margin: 0;
}

.lectureContent {
    padding: 0 1rem;
}

.lectureContent h5 {
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
}

.lectureNumber {
    margin-right: 0.5rem;
}
