:global(.active) {
    font-weight: bold;
}

.navExternalLink {
    white-space: nowrap;
}

.navExternalLink svg {
    margin-left: 0.2em;
}

@media (min-width: 992px) {
    /* pri klasickem menu pridej levou mezeru k odhlasovacimu tlacitku */
    :global(.navbar.navbar-expand-lg .btn) {
        margin-left: 0.5rem;
    }
}

@media (max-width: 991.98px) {
    /* pri hamburger menu pridej horni mezeru k odhlasovacimu tlacitku */
    :global(.navbar.navbar-expand-lg .btn) {
        margin-top: 0.5rem;
    }
}
