.search input,
.search .label {
    background-color: rgb(255 255 255 / 0.07);
    border: 0;
}

.search .label {
    color: #6c757d;
}

.search input {
    color: white;
}

.search input:focus {
    background-color: rgb(255 255 255 / 0.11);
    box-shadow: none;
    color: white;
}

.search {
    margin-left: auto;
    max-width: 25rem;
}

.search .iconWrapper {
    margin-right: 0;
}

@media (max-width: 991.98px) {
    /* pri hamburger menu pridej horni mezeru k vyhledavacimu poli a vycentruj ho */
    .search {
        margin: 0.5rem auto;
    }
}

@media (min-width: 992px) {
    /* pri klasickem menu pridej pravou mezeru k vyhledavacimu poli */
    .search {
        margin-right: 1rem;
    }
}
