.Search input,
.Search .input-group-text {
    background-color: rgb(255 255 255 / 0.07);
    border: 0;
}

.Search .input-group-text {
    color: #6c757d;
}

.Search input {
    color: white;
}

.Search input:focus {
    background-color: rgb(255 255 255 / 0.11);
    box-shadow: none;
    color: white;
}

.Search {
    margin-left: auto;
    max-width: 25rem;
}

.Search .input-group-prepend {
    margin-right: 0;
}

@media (max-width: 991.98px) {
    /* pri hamburger menu pridej horni mezeru k vyhledavacimu poli a vycentruj ho */
    .Search {
        margin: 0.5rem auto;
    }
}

@media (min-width: 992px) {
    /* pri klasickem menu pridej pravou mezeru k vyhledavacimu poli */
    .Search {
        margin-right: 1rem;
    }
}
