.Search input,
.Search .input-group-text {
    background-color: rgba(0, 0, 0, 0.07);
    border: 0;
}

.Search input:focus {
    background-color: rgba(0, 0, 0, 0.11);
    box-shadow: none;
}

.Search {
    margin-left: auto;
    max-width: 25rem;
}

.Search .input-group-prepend {
    margin-right: 0;
}

@media (max-width: 991.98px) {
    /* pri hamburger menu pridej horni mezeru k vyhledavacimu poli a vycentruj ho */
    .Search {
        margin: 0.5rem auto;
    }
}

@media (min-width: 992px) {
    /* pri klasickem menu pridej pravou mezeru k vyhledavacimu poli */
    .Search {
        margin-right: 1rem;
    }
}
