.list-clients {
    vertical-align: top;
    padding: 0
}

.list-clients li {
    list-style-type: none;
}

.list-clients p {
    margin: 0
}

.list-clients .clientName {
    position: relative;
    top: -0.2rem
}

.list-clients .clientName {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 0.2rem
}

.list-clientsGroup .clientName {
    font-size: 1.15rem;
}

.list-bgGroup {
    background-color: #E7E7E7 !important;
}
