.list-clients {
    vertical-align: top;
    padding: 0
}

.list-clients li {
    list-style-type: none;
}

.list-clients p {
    margin: 0
}

.list-clientsGroup li {
}

.list-clientsGroup .clientName {
    position: relative;
    top: -0.2rem
}

.list-bgGroup {
    background-color: #e0e0e0 !important;
}
