/* mnoho z nasledujicich stylu koresponduje se styly bootstrap inputu */

.ColorPickerInput {
    background: white;
    border: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    display: inline-block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem;
}

.ColorPickerInput:focus {
    background-color: #fff;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    color: #495057;
    outline: 0;
}

.ColorPickerWindow {
    left: -1rem;

    /* rozsireni okraju, kam se da najet mysi bez zavreni okna */
    padding: 1rem;
    position: absolute;
    top: -1rem;
    z-index: 2;
}

.ColorPickerInput > div {
    border-radius: 0.25rem;
    height: 100%;
    width: 3rem;
}

/* chrome-picker obsahuje hardcoded font-family s nedostupnym fontem */
.chrome-picker {
    font-family: unset !important;
}
