@media (min-width: 576px) and (max-width: 992px) {
    .ModalFormLecture {
        max-width: 800px !important;
    }
}

.lecture_card h4 {
    flex-grow: 1;
}

.Card_courseHeading {
    color: white
}
