@media (min-width: 576px) and (max-width: 991.98px) {
    .ModalFormLecture {
        max-width: 800px !important;
    }
}

.lecture_card h4 {
    flex-grow: 1;
}

.Card_courseHeading {
    color: white;
}

.CardInfo > * {
    margin: 0 auto 1rem;
    max-width: 600px;
}
