.lecture-canceled h4 {
    text-decoration: line-through
}

.lecture-future {
    background-color: #fff3cd !important
}

.lecture-prepaid {
    background-color: #d4edda !important
}

.lecture-canceled {
    background-color: #f8d7da !important
}

@media (min-width: 576px) and (max-width: 992px) {
    .ModalFormLecture {
        max-width: 800px !important;
    }
}
