.courseHeading {
    color: white;
}

.lectureCard h4 {
    flex-grow: 1;
}

.lectureFuture {
    background-color: #fff3cd !important;
}

.lecturePrepaid {
    background-color: #d4edda !important;
}

.cardInfo > * {
    margin: 0 auto 1rem;
    max-width: 600px;
}
