@media (min-width: 768px) and (max-width: 991.98px) {
    .Diary_day:nth-of-type(n + 3) {
        padding-top: 15px;
    }
}

@media (min-width: 992px) {
    .Diary_day {
        padding-bottom: 15px;
    }
}

@media (max-width: 767.98px) {
    .Diary_day + .Diary_day {
        padding-top: 15px;
    }
}

.Diary_arrowBtn {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 0.15rem;
    transition: color 0.15s ease-in-out;
}

.Diary_arrowBtn:hover {
    color: #5a6268 !important;
}

.TitleDate {
    display: inline-block;
    width: 6ch; /* aby mely dny v tydennim prehledu vzdy stejnou sirku */
}

.TitleDate-long {
    width: 10ch;
}
