@media (min-width: 768px) and (max-width: 991.98px) {
    .diaryDay:nth-of-type(n + 3) {
        padding-top: 15px;
    }
}

@media (min-width: 992px) {
    .diaryDay {
        padding-bottom: 15px;
    }
}

@media (max-width: 767.98px) {
    .diaryDay + .diaryDay {
        padding-top: 15px;
    }
}

.arrowBtn {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 0.15rem;
    transition: color 0.15s ease-in-out;
}

.arrowBtn:hover {
    color: #5a6268 !important;
}

.titleDate {
    display: inline-block;
    width: 6ch; /* aby mely dny v tydennim prehledu vzdy stejnou sirku */
}

.titleDateLong {
    width: 10ch;
}
