{% load render_bundle from webpack_loader %}
{% load raven %}
{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ÚPadmin</title>

    <!-- FAVICONY -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "admin/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "admin/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "admin/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "admin/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "admin/safari-pinned-tab.svg" %}" color="#6c757d">
    <meta name="msapplication-TileColor" content="#6c757d">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div id="root">
    <h2>Načítání...</h2>
    Tady by měla být aplikace React. Pokud vidíte tuto zprávu i po několika sekundách, pravděpodobně nemáte zapnutý
    Javascript ve Vašem prohlížeči.
</div>
<script src="https://cdn.ravenjs.com/3.27.0/raven.min.js" crossorigin="anonymous"></script>
<script>
Raven.config('{% sentry_public_dsn %}').install()
</script>
{% render_bundle 'main' %}
</body>
</html>
