html, body, .content, .root {
    background-color: #ECF0F5;
}

/* prepsani pravidla z bootstrapu, nechceme responzivni chovani containeru, staci takto */
.container {
    max-width: 1140px !important;
}

/* pro plynule scrollovani v modal oknu - viz https://github.com/twbs/bootstrap/issues/17695 */
.modal {
    -webkit-overflow-scrolling: touch;
}

b {
    font-weight: 600;
}

label {
    user-select: none;
}

/* pro spravne zarovnani labelu u checkboxu */
.custom-control {
    display: inline-block !important;
}

.pageContent {
    clear: both
}

/* TABLE */
.table {
    background-color: white !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table th {
    border-top: 0 !important;
}

/* BADGE */
.badge {
    white-space: normal; /* aby se text zalamoval a nepretekal */
    font-size: 1rem;
    font-weight: 600;
    vertical-align: bottom;
}

/* react-toastify */
.Toastify__toast--warning {
    background: #e7b90f !important;
}

.Toastify__toast {
    font-family: unset !important;
}

/* django-debug-toolbar */
/* zaridi, aby tlacitko DDT nikdy neprekazelo notifikacim (to je dulezite predevsim pro UI testy) */
#djDebugToolbarHandle {
    top: 380px !important;
}
