html, body, .content, .root {
    background-color: #ECF0F5;
}

b {
    font-weight: 600;
}

.table {
    background-color: white !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.badge {
    white-space: normal; /* aby se text zalamoval a nepretekal */
    font-size: 1rem;
    font-weight: 600;
    vertical-align: bottom;
    margin-bottom: 0.3rem;
}

@media (max-width: 768px) {
    .diary-day + .diary-day {
        padding-top: 15px
    }
}

h4 .badge {
    margin: 0 /* zobrazeni na stred v dashboardday */
}

.arrowBtn {
    cursor: pointer
}

h1 .addBtn, h1 .nextBtn {
    margin-top: 0.6rem
}

h1 .addBtn {
    float: right;
}

h1 .nextBtn {
    float: left
}

h1 .addBtn + .addBtn {
    margin-right: 0.3rem
}

input {
    min-height: 2.4rem /* fix pro iOS */
}

.lecture-canceled h4 {
    text-decoration: line-through
}

.lecture-future {
    background-color: #fff3cd !important
}

.lecture-prepaid {
    background-color: #d4edda !important
}

.lecture-canceled {
    background-color: #f8d7da !important
}
