html,
body,
.main,
.root {
    background-color: #ecf0f5;
}

.main {
    padding-top: 3.5rem; /* 56px */
}

/* aby tlacitka s odkazem nemely pointer */
a .btn.disabled {
    cursor: default;
}

.breadcrumb {
    background-color: transparent;
}

/* prepsani pravidla z bootstrapu, nechceme responzivni chovani containeru, staci takto */
.container {
    max-width: 1500px !important;
}

/* pro plynule scrollovani v modal oknu - viz https://github.com/twbs/bootstrap/issues/17695 */
.modal {
    -webkit-overflow-scrolling: touch;
}

b {
    font-weight: 600;
}

h2 {
    color: #41464b;
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    color: #41464b;
    font-size: 1.5rem;
    font-weight: 600;
}

/**************************** FORMS ****************************/

/* hvezdicka oznacujici povinna pole */
.form-group.required .col-form-label::after {
    color: #dc3545;
    content: "*";
    margin-left: 0.3em;
}

label {
    user-select: none;
}

/* pro spravne zarovnani labelu u checkboxu */
.custom-control {
    display: inline-block !important;
}

/**************************** TABLE ****************************/
.table {
    background-color: white !important;
}

.table-custom th,
.table-custom td {
    padding: 0.3rem 0.6rem;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table th {
    border-top: 0 !important;
}

.table .thead-light th {
    background-color: #d7d6d6;
    border-color: #bbbec2;
    color: #41464b;
}

/**************************** BADGE ****************************/
.badge {
    font-size: 1rem;
    font-weight: 600;
    vertical-align: bottom;
    white-space: normal; /* aby se text zalamoval a nepretekal */
}

h1 .badge {
    vertical-align: middle; /* zarovnani badge na middle, protoze ma mensi font-size nez h1 */
}

/* kontrastnejsi barva pozadi badge */
.badge-light {
    background-color: #eaeaea;
}

/**************************** REACT-TOASTIFY ****************************/

/* vychozi zluta je spatne citelna s bilym textem */
.Toastify__toast--warning {
    background: #e7b90f !important;
}

/* vychozi text podle bootstrapu, nikoliv podle toastify */
.Toastify__toast {
    font-family: unset !important;
}

/* aby notifikace neprekryvala menu */
.Toastify__toast-container--top-right {
    top: unset !important;
}

/**************************** DJANGO-DEBUG-TOOLBAR ****************************/

/* zaridi, aby tlacitko DDT nikdy neprekazelo notifikacim (to je dulezite predevsim pro UI testy) */
#djDebugToolbarHandle {
    top: 380px !important;
}

/**************************** GDPR ****************************/

/* skryti osobnich udaju v pripade potreby */
.gdpr [data-gdpr],
.gdpr .memberships__option,
.gdpr .client__option,
.gdpr .memberships__multi-value__label,
.gdpr .client__single-value {
    background-color: currentcolor !important;
    user-select: none;
}
