html, body, .content, .root {
    background-color: #ECF0F5;
}

b {
    font-weight: 600;
}

/* TABLE */
.table {
    background-color: white !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

/* BADGE */
.badge {
    white-space: normal; /* aby se text zalamoval a nepretekal */
    font-size: 1rem;
    font-weight: 600;
    vertical-align: bottom;
    margin-bottom: 0.3rem;
}

h4 .badge {
    margin: 0 /* zobrazeni na stred v dashboardday */
}

/* BUTTONS */
h1 .addBtn, h1 .nextBtn {
    margin-top: 0.6rem
}

h1 .addBtn {
    float: right;
}

h1 .nextBtn {
    float: left
}

h1 .addBtn + .addBtn {
    margin-right: 0.3rem
}

/* FORMS */
input {
    min-height: 2.4rem /* fix pro iOS */
}
