.loader:empty {
    animation: load8 1.1s infinite linear;
    border: 0.5em solid rgba(0, 0, 0, 0.1);
    border-left: 0.5em solid #000000;
    border-radius: 50%;
    height: 3em;
    left: calc(50% - 2em);
    position: absolute;
    top: calc(50% - 2em);
    width: 3em;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background-color: #ecf0f5;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}
